/*HEADER GENERAL*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,300&family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:ital,wght@1,300&display=swap");
body {
  margin: 0%;
  box-shadow: inset; }

a {
  text-decoration: none;
  color: black; }

.nav-link {
  margin: 4px;
  font-size: 20px; }

/*titulo general*/
h1, h2, h3, p {
  font-family: 'Roboto', sans-serif; }

h1 {
  color: #332fd0;
  font-weight: lighter;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
  margin-block-end: 0%;
  margin-block-start: 0%;
  font-weight: bold;
  padding-top: 40px; }

/*HEADER INDEX*/
/*logo principal*/
.logo-index {
  display: flex;
  justify-content: center; }
  .logo-index a {
    margin: 0%; }
  .logo-index img {
    width: 5rem; }

/*titulo index*/
.titulo-principal {
  padding-top: 20px;
  padding-bottom: 20px; }
  .titulo-principal h1, .titulo-principal h2 {
    padding: 1%;
    margin: 1%;
    text-align: center;
    font-size: xx-large;
    font-style: italic; }

/*MAIN DE INDEX*/
/*foto grande*/
.banner-inicio {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .banner-inicio img {
    width: 100%;
    height: 10%;
    display: block;
    padding-bottom: 40px; }

/*texto somos*/
.grid-somos {
  display: grid;
  background-color: white;
  grid-template-columns: auto; }

.somos {
  background-color: white;
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
  transition: all .3s ease-in-out; }
  .somos p {
    margin: 10px;
    font-size: 15px; }
  .somos:hover {
    width: 100%;
    background-color: #9254c8; }

.video-index {
  text-align: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 80px; }

/*MAIN DE CURSOS Y TALLERES*/
/*modelo de pag de cursos y talleres*/
.estructura-paginas {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2px;
  padding: 5px; }

/*seccion container*/
.container {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 0%; }

/*grupo de cards*/
.card-group {
  display: block; }

/*contenedor de cada card*/
.contenedor-card {
  display: block;
  background-image: center; }

/*imagen de card*/
.card {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  filter: drop-shadow(5px 5px 5px silver); }
  .card:hover {
    transition: 0.5s;
    transform: scale(1.1); }

.fotos-paginas {
  padding: 0px;
  width: 50%; }
  .fotos-paginas img {
    padding: 0px;
    border: #DDC8C4;
    width: 100%; }

.boton-inscribirme, .uboton {
  border: solid coral;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40%;
  margin: auto; }

/*MAIN DE REGISTROS AKASHICOS*/
/*MAIN COACHING-MUSICAL*/
/* MAIN ESCUELA INTERNACIONAL*/
/*MAIN ETIS*/
.col {
  width: 100%;
  text-align: center;
  padding-right: 40px;
  padding-top: 30px; }

.row {
  padding-bottom: 20%; }

/*MAIN NUMEROLOGIA*/
/*MAIN SANACION*/
/*MAIN CONTACTO*/
.registra {
  page-break-inside: auto;
  font-weight: 40px;
  padding: 3px;
  font-style: oblique; }

form {
  padding-bottom: 80px;
  margin: 30px; }

footer {
  width: 100%;
  height: 100px;
  background-color: #9254c8; }
  footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    footer ul li {
      display: inline-block;
      justify-content: center;
      padding-top: 2rem; }

/*redes-footer index*/
.redes {
  display: flex;
  margin: 0%;
  margin-block-start: 0%;
  margin-block-end: 0%; }
  .redes ul li {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 0%; }
    .redes ul li img {
      height: 30px;
      width: 30px;
      margin: 0%; }

.red-twitter {
  color: #1d7aa9; }

.red-facebook {
  color: #030339; }

.red-instagram {
  color: #db6fdb; }

@media screen and (min-width: 788px) {
  /*MAIN INDEX*/
  /*contenedor de las card y fondo*/
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;
    width: 100%; }
  /*contenedor de las card*/
  .card-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  /*contenedor de cada card*/
  .contenedor-card {
    display: block;
    padding: 1,5rem;
    justify-content: center;
    align-items: center;
    text-align: center; }
  /*imagen de card*/
  .card {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 30px;
    filter: drop-shadow(5px 5px 5px silver); }
    .card:hover {
      transition: 0.5s;
      transform: scale(1.1); }
  /*foto inicio index*/
  .banner-inicio {
    padding-top: 0%;
    height: 1%; }
  .logo-index img {
    width: 3rem;
    padding-top: 3px; }
  /*main texto*/
  .grid-somos {
    display: grid;
    background-color: #fcfaf9;
    grid-template-columns: auto auto; }
  .estructura-paginas {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 10%; } }

@media screen and (min-width: 1024px) {
  h1 {
    margin: 5px;
    padding: 30px;
    font-size: 50px; }
  .somos {
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box; }
  .video {
    width: 100%; }
  .registra {
    page-break-inside: auto;
    font-weight: 0px;
    padding: 5px;
    font-style: oblique; }
  .redes {
    width: 70px;
    height: 50px;
    margin: 30px;
    font-style: oblique; }
  .estructura-paginas h1 {
    padding-top: 55px;
    text-decoration: underline; } }
