/*MAIN DE INDEX*/

/*foto grande*/

@mixin flexible($disf, $just , $align , $ancho){
    display: $disf;
    justify-content: $just;
    align-items: $align;
    width: $ancho;
}

.banner-inicio{
    @include flexible(flex , center, center , 100%)
}

.banner-inicio{

    img{width: 100%;
        height: 10%;
        display: block;
        padding-bottom: 40px;

    }
}

/*texto somos*/
.grid-somos{
    display: grid;
    background-color: white;
    grid-template-columns: auto;
}

.somos{
    background-color: white;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    
    transition: all .3s ease-in-out;

    p{
        margin: 10px;
        font-size: 15px;
    }

    &:hover{
        width: 100%;
        background-color: rgb(146, 84, 200);
    }

}

.video-index{
    display: flex;
    justify-content: center;
    align-items: center;
   

    width: 100%;
    padding-top: 40px;
    padding-bottom: 80px;   
}

/*MAIN DE CURSOS Y TALLERES*/

/*modelo de pag de cursos y talleres*/
.estructura-paginas {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2px;
    padding: 5px;
}

/*seccion container*/
.container{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
    
}

/*grupo de cards*/
.card-group{
    display: block;
    text-align: center;
    justify-content: center;
}

/*contenedor de cada card*/
.contenedor-card{
    display: block;
    text-align: center;
    justify-content: center;
}

/*imagen de card*/
.card{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: drop-shadow(5px 5px 5px silver);

    &:hover{
        transition: 0.5s;
        transform: scale(1.1);
    }
}

.card-body{ 
    padding: 15px;

    a{
        background-color: white;
        color: #E15FED;
        font-size: 20px;
        border-color: white;
        
    }
}

.card-text{
    margin-bottom: 10px;
}

.card-title{
    font-style: italic;
    font-weight: 1rem;
}


.fotos-paginas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px;
    width: 50%;

    img{
        padding: 0px;
        width: 100%;
    }
}

 .boton-inscribirme{
    border: solid #E15FED;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40%;
    margin: auto ;
}


/*MAIN DE REGISTROS AKASHICOS*/
//estructura paginas 

/*MAIN COACHING-MUSICAL*/
//estructura paginas 

/* MAIN ESCUELA INTERNACIONAL*/
//estructura paginas

/*MAIN ETIS*/
//estructura paginas

.col{
    width: 100%;
    text-align: center;
    padding-right: 40px;
    padding-top: 30px;
}

.row{ 
    padding-bottom: 20%;
}

/*MAIN NUMEROLOGIA*/
//estructura paginas

/*MAIN SANACION*/
//estructura paginas

/*MAIN CONTACTO*/
//estructura paginas


.registra{
    page-break-inside: auto;
    font-weight: 40px;
    padding: 3px;
    font-style: oblique;
}

form{
    padding-bottom: 80px;
    margin: 30px;
}














