footer{
    width: 100%;
    height: 100px;
    background-color: rgb(146, 84, 200);

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;

    li{
        display: inline-block;
        justify-content: center;
        padding-top: 2rem;  
        }
    }
}

/*redes-footer index*/
.redes{
    display: flex;
    margin: $margin-nulo ;
    margin-block-start: $margin-nulo;
    margin-block-end: $margin-nulo;

    ul li{
        display: inline-block;
        align-items: center;
        justify-content: center;
        margin: 0%;

        img{
            height: 30px;
            width: 30px;
            margin: 0%;

        }
    }

}


$redes: (
    twitter: rgb(29, 122, 169),
    facebook: rgb(3, 3, 57),
    instagram: rgb(219, 111, 219),
);

@each $red, $color in $redes {
    .red-#{$red}{
        color: $color;
    }
}


